extends base
block page_title
  title admin
block content
  .content.container
    h2(style='border-bottom: 1px solid black;') Thông tin nhà cung cấp:
    form.content-form
      .form-group
        label(for='exampleInputName') Họ và tên
        input#exampleInputName.form-control(type='text',value=`${infor.nguoi.ten}`)
      .form-group
        label(for='exampleInputSDT') Số điện thoại
        input#exampleInputSDT.form-control(type='number',value=`${infor.nguoi.sdt}`)
      .form-group
        label(for='ngaysinh') Ngày sinh  
        input#ngaysinh.form-control(type='date',value=`${infor.nguoi.ngaySinh}`)
      .form-group
        label(for='diachi') Địa chỉ   
        input#diachi.form-control(type='text',value=`${infor.nguoi.diaChi}`)
      .form-group
        label(for='Energy')=`Giới tính: ${infor.nguoi.gioiTinh}` 
      button.btn.btn-pri(type='submit') Sửa   
