extends base
block page_title
  title banhang 
block content
  .container.content
    h2(style='border-bottom: 1px solid black;') Danh s&aacute;ch &dstrok;&#x1A1;n h&agrave;ng c&#x1EA7;n x&#x1EED; l&yacute; :
    table.table.table-bordered.table-striped.text-center
      thead.thead-table
        tr
          th(scope='col') STT
          th(scope='col') M&atilde; h&oacute;a &dstrok;&#x1A1;n 
          th(scope='col') Th&#x1EDD;i gian 
          th(scope='col') Tr&#x1EA1;ng th&aacute;i 
          th(scope='col') Thao t&aacute;c 
      tbody
        - var dem = 1
          each Hd in HdCxl
            tr
              th(scope='row')= dem++   
              td=	Hd._id
              - var current_datetime = new Date(Hd.thoiGian);
              - var res = current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + " " + current_datetime.getHours() + ":" + current_datetime.getMinutes() + ":" + current_datetime.getSeconds();                   
              td=	res              
              td= Hd.trangThai      

              td
                a.btn.btn-success.btn-in(href='#') X&aacute;c nh&#x1EAD;n   
                a.btn.btn-info.btn-in(href=`/seller/xemhdOl/${Hd._id}`) Xem chi ti&#x1EBF;t  
                a.btn.btn-in.btn-danger(href='#') H&#x1EE7;y 
                //- a.btn.btn-info(href=`/seller/timkiemmh/${khachhang._id} ` onclick=`chonKhachHang(${khachhang._id})`) Chọn

